<?xml version="1.0"?>
<configuration>  
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <dataConfiguration defaultDatabase="HaccpConnectionString" />
  <connectionStrings>
    <add name="HaccpConnectionString" connectionString="Data Source=.;Initial Catalog=HACCPBuilder;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/HaccpData.csdl|res://*/HaccpData.ssdl|res://*/HaccpData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HACCPBuilder;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>