<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/HaccpData.csdl|res://*/HaccpData.ssdl|res://*/HaccpData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=RGK\MSSQLSERVER2;initial catalog=HACCPBuilder;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>