@media print
  {
  gridheaderBreakline 
  {
      page-break-before: always;border-bottom: solid 1px #000000 !important; border-top: solid 1px #000000 !important; border-left: 0; border-right: 0; border-collapse: collapse;
  }
  }