@charset "utf-8";
.regular, .zebra {
	border: 1px solid #DEDEDE;
	border-top:none;
}
#search input[type="text"], h2, table {
	border-radius: 2px 2px 2px 2px;
}
 .zebra tr:nth-child(2n) {
 background: none repeat scroll 0 0 #F1F1F1;
}
/* RGK */
.alternate
{
    background: none repeat scroll 0 0 #F1F1F1;
}
table {
	width: 100%;
	border:1px;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
tr {
	background: none repeat scroll 0 0 #FBFBFB;
}

.regular tr:hover, .zebra tr:hover, .dataTable tr:hover {
	background: none repeat scroll 0 0 #cde0f4;
}
td, th {
	color: #000000;
	line-height: 2.5em;
	padding-left: 0.5em;
	text-align: left;
	vertical-align: top;
}
th {
	background: url(images/header-lower-bg.jpg) repeat-x scroll 0 0 #FFFFFF;
	height: 35px;
	padding-top: 5px !important;
	border-bottom: 1px solid #DDDDDD;
}
.align-left {
	text-align: left;
}
tbody td {
	vertical-align: middle;
}
tbody td.inActive a
{
    color:Red;
}
td, th {
	color: #000000;
	line-height: 2.5em;
	padding-left: 0.5em;
	text-align: left;
	vertical-align: top;
}
.ticker
{
    width:100%;
}
.ticker td,th
{
    line-height: 1.5em;
}

.printRow
{
    page-break-before: always;border-bottom: solid 1px #000000;
}