html
{
	margin: 0;
	padding: 0;
	font-size: 11px;
	color: #48402A;
	height: 100%;
}

body
{
	background: #E4E0D5 url(../images/bg.gif) repeat-x top;
	margin: 0;
	padding: 0;
	font-family: Arial;
	font-size: 11px;
	color: #48402A;
	height: 100%;
}

form
{
	padding: 0px;
	margin: 0px;
}

.sup
{
	margin-top: 0px;
	padding-top: 0px;
	position: relative;
	top: -3px;
	font-size: 9px;
}

a.header:link, a.header:visited
{
	font-weight: bold;
	color: #1C509F;
	text-decoration: none;
}

a
{
	color: #1C509F;
}

a:visited
{
	color: #1C509F;
}

a.header:hover
{
	text-decoration: underline;
}

a.plain
{
	text-decoration: none;
}

a.plain:hover
{
	text-decoration: underline;
}

p.nospace
{
	margin: 0px;
	padding: 0px;
}

.small
{
	font-size: 10px;
}

img
{
	display: block;
}

img.head
{
	padding-bottom: 10px;
}

img.inline
{
	display: inline;
	position: relative;
	top: 2px;
	padding-right: 2px;
}

#container
{
	text-align: left;
	width: 955px;
	border: 5px #FFFFFF solid;
	background: #F6F2E8;
	margin-top: 35px;
	padding: 15px 10px 10px 15px;
	position: relative;
}

#error_container
{
	text-align: left;
	width: 500px;
	border: 5px #FFFFFF solid;
	background: #F6F2E8;
	margin: auto;
	margin-top: 35px;
	padding: 15px 10px 10px 15px;
	position: relative;
}

#breadcrumbs p
{
	font-size: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	margin: 0px;
}

#header
{
	width: 928px;
	text-align: right;
	vertical-align: middle;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

#SiteName
{
	font-size: 30px;
	font-weight: bold;
	font-style: italic;
	color: #1C509F;
	padding-left: 15px;
}

div#header a
{
	color: #1C509F;
	font-weight: bold;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-size: 11px;
}

div#header a:hover
{
	text-decoration: underline;
}

div#header table
{
	margin-left: auto;
	margin-right: 0px;
}

div#header .arrow
{
	margin-right: 5px;
}

div#header .divider
{
	position: relative;
	top: 0px;
	display: block;
}

div#header .submenu
{
	font-size: xx-small;
	color: Gray;
	background-color: inherit;
}

div#header .email_input
{
	height: 15px;
	width: 100px;
	border: 1px #695D54 solid;
	padding: 0px;
	margin: 0px;
	position: relative;
	top: 0px;
	font-size: 10px;
	margin-left: 10px;
	background: #E5E3DE;
	color: #48402A;
}

div#header .email_text
{
	color: #1C509F;
	font-weight: bold;
}

div#header img
{
	position: relative;
	display: block;
}

div#header .search_btn
{
	display: block;
	margin-left: 5px;
	top: 0px;
}

td#home_nav
{
	width: 745px;
	height: 236px;
}

td#home_plan
{
	width: 444px;
	background: url(../images/home_plan_wrap.gif) no-repeat bottom right;
	padding: 0px 11px 25px 9px;
	margin: 0px;
	vertical-align: top;
}

td#home_plan div
{
	background: #FDFCF9;
	font-size: 11px;
	width: 433px;
	margin: 0px;
	padding: 0px;
}
td#findplan
{
	font-family: Arial;
	font-size: 11px;
	color: #48402A;
	height: 100%;
}

p.arrowpoint
{
	background: url(../images/rt_arrow.gif) no-repeat 0px 1px;
	padding: 0px 0px 0px 18px;
	margin: 0px 10px 15px 10px;
	line-height: 13px;
}

p.arrowpoint_ns
{
	background: url(../images/rt_arrow.gif) no-repeat 0px 2px;
	padding: 0px 0px 0px 18px;
	margin: 0px 17px 10px 5px;
	line-height: 15px;
	font-size: 11px;
}

b
{
	font-weight: bold;
}

p.indent_nospace
{
	padding-left: 18px;
	margin: 0px 3px 0px 0px;
	padding-top: 0px;
	line-height: 1.2em;
}

.home_news_banner
{
	background: url(../Images/Top-Box-Soft-Graphic.jpg) no-repeat bottom right;
	width: 301px;
	padding-bottom: 0px;
	vertical-align: top;
	text-align: left;
	color: White;
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
}

td#home_news
{
	background: url(../Images/home_news_wrap.jpg) no-repeat bottom right;
	width: 301px;
	padding-bottom: 13px;
	vertical-align: top;
	text-align: left;
}

div#home_news img.header
{
	position: relative;
	top: -38px;
}

p.home_news
{
	margin-left: 10px;
	margin-top: 0px;
	padding-top: 0px;
}

#home_right
{
	width: 189px;
	background: url(../images/home_right_wrap.jpg) no-repeat bottom right;
	vertical-align: top;
	font-size: 11px;
}

#home_right p
{
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

#home_right a
{
	color: #1C509F;
}

#home_right a:visited
{
	color: #1C509F;
}

#home_right div
{
	width: 183px;
	background: #FDFCF9 url(../images/hub_right_div_bg.jpg) repeat-y;
}

#home_right img.content
{
	margin: 13px 0px 10px 5px;
}

img.home_hrule
{
	margin: 0px;
	padding: 3px 0px 3px 0px;
	position: relative;
	left: 7px;
	width: 135px;
}

table.navigation
{
	margin: -2px 11px -15px 3px;
	padding: 0px 0px 0px 0px;
	display: block;
}

table.navigation img
{
	display: block;
}

#right
{
	width: 183px;
	background: url(../images/hub_right_wrap.jpg) no-repeat bottom right;
	vertical-align: top;
	font-size: 11px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	position: relative;
}

#right p
{
	margin-top: 4px;
	margin-left: 6px;
}

#right a
{
	color: #1C509F;
}

#right a:visited
{
	color: #1C509F;
}

#right div
{
	width: 178px;
	background: #FDFCF9 url(../images/hub_right_div_bg.jpg) repeat-y;
	margin-bottom: 25px;
}

#right img.content
{
	margin: 13px 0px 10px 5px;
}

#spotlight_main
{
	margin: 3px 0px 0px 0px;
}

img.hrule
{
	margin: 12px 0px 12px 7px;
	padding: 0px 0px 0px 0px;
}

#footer
{
	margin: 10px 0px 0px 0px;
	padding: 0px 0px 50px 0px;
	font-size: 10px;
	color: #48402A;
	text-align: left;
	width: 968px;
	position: relative;
}

#footer img.rule
{
	margin: 0px 0px 5px 0px;
}

#footer a, #footer a:visited
{
	text-decoration: underline;
	color: #48402A;
}

#footer img.divider
{
	display: inline;
}

#footer img.tag
{
	position: absolute;
	right: 0px;
	top: 5px;
	margin: 0px;
	padding: 0px;
}

#footer .copyright
{
	position: absolute;
	right: 250px;
	top: 5px;
	margin: 0px;
	padding: 0px;
}

.test
{
	margin: 0px;
	padding: 0px;
	display: block;
}

/* LOCAL SITE NAVIGATION */

td.tdLsn
{
	padding-left: 10px;
	padding-right: 20px;
}

#divLsn
{
	width: 178px;
	visibility: hidden;
	text-align: left;
	background: #F6F2E8;
	padding-top: 7px;
}

div.lsnLvl_1
{
	background-color: #003596;
	padding-left: 7px;
	padding-top: 7px;
	padding-bottom: 6px;
	border-bottom: 1px solid #F6F2E7;
}

div.lsnLvl_2_0
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 2px;
	padding-right: 10px;
	background: #FCFBF8;
}
div.lsnLvl_2
{
	padding-left: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
	background: #FCFBF8;
}
div.lsnLvl_3
{
	padding-left: 22px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
	background: #FCFBF8;
}
div.lsnLvl_4
{
	padding-left: 33px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 10px;
	background: #FCFBF8;
}

#lsnCap
{
	width: 178px;
	height: 1px;
	background-color: #E4E0D5;
	border-top: 4px solid #535D9E;
	visibility: hidden;
	background: #FCFBF8;
}

a.lsnLvl_1
{
	font-family: arial,sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	line-height: 1.1;
}
a.lsnLvl_1:hover
{
	color: #FFFFFF;
	text-decoration: underline;
}
a.lsnLvl_1:visited
{
	color: #FFFFFF;
}

a.on_lsnLvl_1
{
	font-family: arial,sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;
	line-height: 1.1;
}
a.on_lsnLvl_1:hover
{
	color: #FFFFFF;
	text-decoration: none;
}
a.on_lsnLvl_1:visited
{
	color: #FFFFFF;
}

a.lsnLvl_2
{
	font-family: arial,sans-serif;
	font-size: 11px;
	color: #1C509F;
	text-decoration: none;
	line-height: 1.1;
}
a.lsnLvl_2:hover
{
	color: #1C509F;
	text-decoration: underline;
}
a.lsnLvl_2:visited
{
	color: #1C509F;
}

a.on_lsnLvl_2
{
	font-family: arial,sans-serif;
	font-size: 11px;
	color: #1C509F;
	text-decoration: none;
	line-height: 1.1;
}
a.on_lsnLvl_2:hover
{
	color: #1C509F;
	text-decoration: none;
}
a.on_lsnLvl_2:visited
{
	color: #1C509F;
}

div#home_news_1
{
	width: 295px;
	background: #FDFCF9;
	margin: 0px;
	padding: 0px;
	height: 100%;
	line-height: 1.25em;
	font-size: 11px;
}

div#home_news_2
{
	width: 295px;
	background: #FDFCF9;
	margin: 0px;
	padding: 0px;
	height: 100%;
	line-height: 1.25em;
	font-size: 11px;
}

div#home_news_3
{
	width: 295px;
	background: #FDFCF9;
	margin: 0px;
	padding: 0px;
	height: 100%;
	line-height: 1.25em;
	font-size: 11px;
}
