<?xml version="1.0"?>
<configuration>
	<configSections>
		<!--<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">-->
		<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
			<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
				<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
			</sectionGroup>
		</sectionGroup>
		<!--</sectionGroup>-->
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<sectionGroup name="elmah">
			<!--NOTE! If you are using ASP.NET 1.x then remove the
                 requirePermission="false" attribute from the section
                 elements below as those are only needed for
                 partially trusted applications in ASP.NET 2.0 -->
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
			<section name="errorTweet" requirePermission="false" type="Elmah.ErrorTweetSectionHandler, Elmah"/>
		</sectionGroup>
		<!-- Allows for a new section group to the Web.config -->
		<!--<sectionGroup name="elmah">
      -->
		<!-- Indicates that inside the section group there will be an
              errorLog section -->
		<!--
      <section name="errorLog"
        type="System.Configuration.SingleTagSectionHandler, 
          System, Version=1.0.5000.0, Culture=neutral, 
          PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>-->
	</configSections>
	<appSettings>
		<add key="Database" value="HaccpConnectionString"/>
		<!--<add key="ServerUrl" value="http://www.schoolhaccp.com"/>-->
		<!--<add key="ServerUrl" value="61.5.139.5"/>-->
		<add key="ServerUrl" value="mail.nxb.com.pk"/>
		<!--<add key="ServerUrl" value="76.74.254.138"/>-->
		<!--<add key="ToAddress" value="steve@thomsonsolutions.com"/>-->
		<add key="ToAddress" value="rehman.gull@nxb.com.pk"/>
		<add key="FromAddress" value="info@schoolhaccp.com"/>
		<!--<add key="BccAddress" value="sthomson@schoolhaccp.com"/>-->
		<add key="BccAddress" value="rehman.gull@nxb.com.pk"/>
		<!--<add key="FromName" value="Webmaster"/>-->
		<add key="FromName" value="HACCP Builder"/>
		<add key="JavaScript-Path" value="~/StaticContent/Scripts"/>
		<add key="ErrorPage" value="~/ErrorPage.aspx"/>
		<add key="LearnMoreKeywords" value="haccp plan, haccp, plan"/>
		<add key="RequirementsKeywords" value="USDA School Lunch, School Lunch, USDA, School, Lunch"/>
	</appSettings>
	<dataConfiguration defaultDatabase="HaccpConnectionString"/>
	<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer" connectionString="Data Source=MOBEEN\SQL2008EXPRESS;Initial Catalog=HACCPBuilder;Integrated Security=True" />
  <add name="HaccpConnectionString" connectionString="Data Source=MOBEEN\SQL2008EXPRESS;Initial Catalog=HACCPBuilder;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Entities" connectionString="metadata=res://*/HaccpData.csdl|res://*/HaccpData.ssdl|res://*/HaccpData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MOBEEN\SQL2008EXPRESS;initial catalog=HACCPBuilder;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
   providerName="System.Data.EntityClient" />
  <add name="HACCPBuilderConnectionString" connectionString="Data Source=MOBEEN\SQL2008EXPRESS;Initial Catalog=HACCPBuilder;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<!--  <roleManager enabled="true" defaultProvider="SchoolHaccp.Operations.RoleManagerProvider" />-->
		<roleManager defaultProvider="RoleManagerProvider" enabled="true">
			<providers>
				<add name="RoleManagerProvider" connectionString="LocalSqlServer" type="SchoolHaccp.Operational.RoleManagerProvider" validateRoleStoredProcedure="uspAdmin_ValidateRole" getRolesStoredProcedure="uspAdmin_GetRolesForUser"/>
			</providers>
		</roleManager>
		<trace enabled="false" pageOutput="false"/>
		<!--<customErrors mode="Off"/>-->
		<customErrors defaultRedirect="~/CustomErrorPage.aspx" mode="RemoteOnly"/>
		<!--<customErrors defaultRedirect="~/ErrorPage.aspx" />-->
		<healthMonitoring enabled="false">
			<eventMappings>
				<clear/>
				<add name="All Errors" type="System.Web.Management.WebBaseErrorEvent" startEventCode="0" endEventCode="2147483647"/>
			</eventMappings>
			<providers>
				<clear/>
				<add name="EventLogProvider" type="System.Web.Management.EventLogWebEventProvider"/>
			</providers>
			<rules>
				<clear/>
				<add name="All Errors Default" eventName="All Errors" provider="EventLogProvider" profile="Default" minInstances="1" maxLimit="Infinite" minInterval="00:00:00"/>
			</rules>
		</healthMonitoring>
		<membership defaultProvider="SchoolHaccpMembershipProvider">
			<providers>
				<clear/>
				<!--<add name="SchoolHaccpMembershipProvider" type="SchoolHaccp.Operational.SchoolHaccpMembershipProvider" connectionStringName="LocalSqlServer" applicationName="/"/>-->
				<add connectionString="LocalSqlServer" validateUserStoredProcedure="uspAdmin_ValidateUser" getUserStoredProcedure="uspAdmin_GetUser" changeUserPasswordStoredProcedure="uspAdmin_ChangeUserPassword" name="SchoolHaccpMembershipProvider" type="SchoolHaccp.Operational.SchoolHaccpMembershipProvider" tableName="Contact" userIdField="ContactId" userLoginField="UserId" userPasswordField="Password" userGroupField="GroupId" userIdSessionVariable="UserId" userGroupSessionVariable="GroupId" userLoginSessionVariable="UserLogin"/>
			</providers>
		</membership>
		<authentication mode="Forms">
			<forms name=".ASPXFORMSAUTH" loginUrl="~/ControlPanel/Membership/LoginPage.aspx" defaultUrl="~/ControlPanel/Default.aspx" slidingExpiration="true" protection="All" timeout="60000"/>
		</authentication>
		<!--<pages styleSheetTheme="Grid">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>-->
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<!--<machineKey validationKey="1AAF7008F5396CA7CFC164E58F134FD92686A3F73265824222F185523A892088D2C6C7CDEB96A9C09856A98C1CFD87C46079D3FF626903F30C61B2B8D61DD88D"
    decryptionKey="37375A699661A3EEB4852F4C00F641DDB8E78470122D96E7E72AD95C928920C8"
    validation="SHA1" decryption="AES"
    />-->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Practices.EnterpriseLibrary.Common, Version=3.1.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="eWorld.UI.Compatibility, Version=2.0.6.2393, Culture=neutral, PublicKeyToken=24D65337282035F2"/>
				<add assembly="eWorld.UI, Version=2.0.6.2393, Culture=neutral, PublicKeyToken=24D65337282035F2"/>
				<add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>				
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<siteMap>
			<providers>
				<add siteMapFile="Web.sitemap" name="CssSiteMapProvider" type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</siteMap>
		<httpHandlers>
			<remove path="*.asmx" verb="*"/>
			<add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
			<add path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah"/>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
		</httpModules>
		<sessionState timeout="60" mode="InProc" cookieless="false"/>
		<pages>
			<controls>
				<add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
			</controls>
		</pages></system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler"/>
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler"/>
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler"/>
			<add name="ErrorTweet" type="Elmah.ErrorTweetModule, Elmah" preCondition="managedHandler"/>
		</modules>
		<handlers>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</handlers>
	</system.webServer>
	<system.net>
		<mailSettings>
			<smtp from="support@haccpbuilder.com" deliveryMethod="Network">
				<network defaultCredentials="true" host="smtp2.sixrm.com" password="" userName=""/>
			</smtp>
		</mailSettings>
	</system.net>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding appliesTo="v2.0.50727" xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Data" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="AutoCompleteServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="false"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="AutoCompleteServiceBehavior" name="AutoCompleteService">
				<endpoint address="" binding="wsHttpBinding" contract="IAutoCompleteService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
	</system.serviceModel>
	<elmah>
		<!--<errorLog type="GotDotNet.Elmah.SqlErrorLog, 
      GotDotNet.Elmah, Version=1.0.5527.0, Culture=neutral, 
      PublicKeyToken=978d5e1bd64b33e5"
      connectionString="Data Source=NX00143\SQLEXPRESS;Initial Catalog=HACCPBuilder;Integrated Security=True" />-->
		<errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="HaccpConnectionString"/>
		<errorMail from="support@haccpbuilder.com" to="it.team@sixrm.com"/>
	</elmah>
	<location path="elmah.axd">
		<system.web>
			<httpHandlers>
				<add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
			</httpHandlers>
			<!-- 
                The following entry denies unauthenticated users access to 
                the path from where ELMAH's handlers are accessible. If you 
                have role-based security implemented, you SHOULD consider 
                instead allowing access by a particular role (for example, 
                operators and administrators).
        
                IMPORTANT: If you change the path of the handler then you 
                MUST also change the path in the containing location tag 
                to be the same.

                For more information, see:
                http://code.google.com/p/elmah/wiki/SecuringErrorLogPages
            -->
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
		<system.webServer>
			<handlers>
				<add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode"/>
			</handlers>
		</system.webServer>
	</location>
	<!-- 
        The <system.webServer> section is required for running ELMAH under 
        Internet Information Services (IIS) 7. It is not necessary for 
        previous version of IIS.
        
        In general, it would be best to include it for all .NET Framework 
        2.0 and above configurations in order to have a more portable 
        solution between various versions of IIS.

        IIS 5.x, IIS 6 require the modules and handlers to be declared in 
        <system.web> whereas IIS 7 needs them declared here and complains if 
        they are in fact declared in <system.web>. Fortunately, the
        <validation validateIntegratedModeConfiguration="false" /> entry 
        tells IIS 7 not to worry about the modules and handlers declared in 
        <system.web>.
        
        If you only ever want to use IIS 7, then do the following:
        
        1. Remove handlers and modules from <system.web>
        2. Remove the <validation validateIntegratedModeConfiguration="false" /> element
    -->
</configuration>
