<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
           <!-- <deny roles="Users" /> -->
          <deny users="?" />
          <allow roles="KitchenAdmin"/>
          <deny users="*"/>
        </authorization>
      <pages theme="Facility" styleSheetTheme="Facility"></pages>
    </system.web>
</configuration>